* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Roboto, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #1F2947;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

footer {
    background-color: #1F2947;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.links {
    display: flex;
    gap: 10px;
}

ul {
    list-style-type: none;
}
  
a {
    text-decoration: none;
    color: #E5E7EB;
}