* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Roboto, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #1F2947;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.content-1, .content-4 {
    outline: 2px solid red;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.content-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    width: 100px;
    height: 100px;
    outline: 2px solid;
}

.content-3 {
    background-color: #E5E7EB;

    display: flex;
    flex-direction: column;
    flex: 1;
}

.content-4 {
    border-radius: 15px;
    background-color: #3882F6;
    margin: 40px;

    justify-content: space-around;
    gap: 20px;
}

.left {
    outline: 2px solid blue;
    width: 300px;
}

.right {
    outline: 2px solid blue;
    width: 300px;
}

footer {
    background-color: #1F2947;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.links {
    display: flex;
    gap: 10px;
}

ul {
    list-style-type: none;
}
  
a {
    text-decoration: none;
    color: #E5E7EB;
}